<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Backend API</title>
    <link rel="stylesheet" href="/static/css/materialize.min.css">
</head>
<body>
    <header>
        <nav class="blue darken-3 z-depth-3">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">Hackathon Backend API</a>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="section">
            <h5>You have rached the back-end API.</h5>
            <div class="section">
                <a href="/docs" class="waves-effect waves-light btn-large blue darken-3 z-depth-3">View API Docs</a>
                <a href="http://127.0.0.1:9600" class="waves-effect waves-light btn-large blue darken-3 z-depth-3">Go to Front-End App</a>
            </div>
        </div>
    </main>
    <script src="/static/js/materialize.min.js"></script>
</body>
</html>
